main#contentAjax {
    grid-area: main-content;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.center {
    margin: auto;
}

.bloque.bloquePrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
}

.flex.center.bloquesTests {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
}

div#bloqueTestClonar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100p;
}
