.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    left: 0;
    height: 100vh;
    background: #53535314;
    width: auto;
    border-right: var(--borde);
    backdrop-filter: blur(10px);
    z-index: 1000;
    padding: 10px 0px;
    margin: 0;
    align-items: center;
    min-height: 55px;
}

.header {
    grid-area: header;
}

.header {
    width: 100%;
    display: flex;
    background: #53535314;
    backdrop-filter: blur(10px);
    min-height: 50px;
    z-index: 999999;
    border: var(--borde);
    border-left: unset;
}

.menuArriba {
    grid-area: sidebar;
    z-index: 999;
    display: flex;
    flex-direction: row;
    height: unset;
    width: 100%;
    padding: 7px 10px;
    padding-left: 68px;
    border-bottom: var(--borde);
    align-content: center;
    align-items: center;
}

body {
    display: grid;
    grid-template-columns: 55px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main-content';
    height: 100vh;
    overflow: hidden;
}

.icons {
    display: flex;
    flex-direction: column;
    padding: 6px;
    gap: 21px;
}

.menu .icons svg {
    color: var(--blanco) !important;
    fill: var(--blanco);
    height: 17px !important;
    width: 17px !important;
}

.menu.sidebar .end {
    margin-top: auto;
}

.menu .icons a {
    height: 16px;
    cursor: pointer;
}

.buscador {
    margin: auto;
    width: 100%;
    display: flex;
}

.busqueda {
    background: none;
    border-bottom: solid 1px #252525 !important;
    border: solid 1px #252525;
    border-radius: 5px;
    padding: 4px 10px !important;
    font-size: 11px;
    max-width: 300px;
    width: 100%;
    line-height: 1.5;
    margin: auto;
}

.busqueda::placeholder {
    font-size: 10px;
}

.headerNoLogin {
    z-index: 999;
    display: flex;
    flex-direction: row;
    height: unset;
    border-bottom: var(--borde);
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 96% !important;
    border: var(--borde);
    top: 40px;
    border-radius: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background: #53535314;
    backdrop-filter: blur(10px);
    margin: 0;
    min-height: 52px;
    padding: 15px 20px !important;
    gap: 20px;
}

.headerNoLogin nav a{
    height: 20px;
    font-size: 13px;
    padding: 0px;
    color: white;
    color: white;
    opacity: 0.8;
    text-decoration: none;

}

.headerNoLogin a {
    height: 19px;
}

.headerNoLogin svg {
    height: 18px;
    width: 18px;
}